{% extends 'base.html.twig' %}

{% block title 'Portail documentaire - Accueil' %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Portail documentaire de la médiathèque du CND</h1>
		<p>
            Quanta autem vis amicitiae sit, ex hoc intellegi maxime potest, quod ex infinita societate generis humani, quam conciliavit ipsa natura, ita contracta res est et adducta in angustum ut omnis caritas aut inter duos aut inter paucos iungeretur.
        </p>
	</div>
	<div class="container">
	<h2>Les dernières ressources</h2>
	<div class="row flex">
		{% for resource in resources %}
			<div class="col-3">
				<div class="card">
				{% if resource.filename %}
        	<img src="{{ vich_uploader_asset(resource, 'imageFile') | imagine_filter('thumb') }}" class="card-img-top" style="height: 100%; width: auto;">	
		{% else %}
        	<img src="{{ '/images/resources/empty.jpg' | imagine_filter('thumb') }}" class="card-img-top" style="height: 100%; width: auto;">
        {% endif %}
					<div class="card-body">
						<h5 class="card-title">
							<a href="{{ path('resource.show', {id: resource.id, slug: resource.slug}) }}">{{ resource.title }}</a>
						</h5>
						<p class="card-text">{{ resource.type }}</p>
						<div class="text-primary">{{ resource.auteur }}</div>
					</div>
				</div>
			
			</div>
		{% endfor %}
	</div>
	</div>
{% endblock %}