{% extends 'base.html.twig' %}

{% block title 'Administration du portail' %}

{% block body %}
	<div class="container mt-4">
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	{% if is_granted('ROLE_DOC')  %}
	<h1>Gérer les autotrités personnes</h1>
		
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Personne</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		
    		{% for person in persons %}
    			<tr>
    				<td>{{ person.name }}</td>
    				<td>
    					
    					<a href="{{ path('admin.person.edit', {id: person.id}) }}" class="btn btn-secondary">Éditer</a>
    				</td>
    				<td>	
    					
    					<form method="post" action="{{ path('admin.person.delete', {id: person.id}) }}" onsubmit="return confirm('Etes-vopus vraiment sûr ?')">
    						<input type="hidden" name="_method" value="DELETE">
    						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ person.id) }}">
    						<button class="btn btn-danger">Supprimer</button>
    					</form>
    					
    				</td>
    			</tr>
    		   {% endfor %}
		   
		</tbody>
	
	</table>
		
	<div class="text-right">
		<a href="{{ path('admin.person.new') }}" class="btn btn-primary">Nouvelle notice</a>
	</div>		
	{% endif %}	
	{% if is_granted('ROLE_ADMIN')  %}
	<h1>Administrer l'application</h1>
	{% endif %}
	</div>
{% endblock %}