<div class="col-md-3">
	<div class="card mb-4">
		{% if resource.filename %}
		<a href="{{ path('resource.show', {slug: resource.slug, id: resource.id }) }}"><img src="{{ vich_uploader_asset(resource, 'imageFile') | imagine_filter('thumb') }}" class="responsive" width="360" height="240"></a>
		{% elseif resource.img %}
		<a href="{{ path('resource.show', {slug: resource.slug, id: resource.id }) }}"><img src="http://cadic.cnd.fr/exl-img/{{ resource.img }}" class="responsive" width="360" height="240"></a>
		{% else %}
		<a href="{{ path('resource.show', {slug: resource.slug, id: resource.id }) }}"><img src="{{ '/images/resources/empty.jpg' | imagine_filter('thumb') }}" class="responsive" width="360" height="240"></a>
		{% endif %}
		<div class="card-body">
			<h4 class="card-title" style="text-decoration:underline"><a href="{{ path('resource.show', {slug: resource.slug, id: resource.id }) }}">{{ resource.title }}</a></h4>
			<p class="card-text">{{ resource.type }}</p>
			<div class="" style="font-size:1.1rem;font-weight:bold">{{ resource.auteur|replace({'|':' ; '}) }}</div>
			<p class="card-text"><a href="{{ path('resource.basketadd', {slug: resource.slug, id: resource.id }) }}">Sélectionner</a></p>
		</div>
	 </div>
</div>

