<div class="card mb-4">
        {% if resource.filename %}
        	<img src="{{ vich_uploader_asset(resource, 'imageFile') | imagine_filter('thumb') }}" class="card-img-top" style="height: 100%; width: auto;">	
		{% else %}
        	<img src="{{ '/images/resources/empty.jpg' | imagine_filter('thumb') }}" class="card-img-top" style="height: 100%; width: auto;">
        {% endif %}
	<div class="card-body">
		<h5 class="card-title">
			<a href="{{ path('resource.show', {slug: resource.slug, id: resource.id }) }}">{{ resource.title }}</a>
		</h5>
		<p class="card-text">{{ resource.type }}</p>
		<div class="text-primary" style="font-size:1em;font-weight:bold;">{{ resource.auteur }}</div> 
	</div>
</div>