{% extends 'base.html.twig' %}

{% block title 'Toutes les ressources' %}
{% block stylesheets %}
    
{% endblock %}
{% block body %}
	<div class="jumbotron">
		<div class="container">
			{{ form_start(form) }}
    			<div class="form-row align-items-end">
    				<div class="col">
    					{{ form_row(form.title) }}
    				</div>
    				<div class="col">
    					{{ form_row(form.auteur) }}
    				</div>
    				<div class="col">
    					{{ form_row(form.type) }}
    				</div>
    			</div>
    			<div class="form-row align-items-end">
    				<div class="col">
    					{{ form_row(form.persons) }}
    				</div>
    			</div>
    			<div class="form-row align-items-end">
    				<div class="col">
    					<!--  class form-group aligne le bouton  -->
    					<div class="form-group">
    						<button class="btn btn-primary">Rechercher</button>
    					</div>
    				</div>
    			</div>
		   {{ form_end(form) }}
			  <div class="form-row align-items-end">
				<div class="col">
					<!--  class form-group aligne le bouton  -->
					<div class="form-group">
				          {% for message in app.session.flashbag.get('basket.message.delete') %}
                              <div class="alert alert-primary" role="alert">
           						 <p>{{ message }}</p>
           					  </div>
                          {% endfor %}
                    </div>
               </div>
             </div>
             		
		</div>
	</div>
	<div class="container mt-4">
		<h1>Explorer les ressources</h1>
			<div class="row">

				{% for resource in resources %}
					<div class="col-md-4">
						{% include 'resource/_resource.back.html.twig' %}
					</div>
				{% endfor %}
				

			</div>
			{# display navigation #}
			<div class="navigation">
    			{{ knp_pagination_render(resources) }}
			</div>
	</div>
	
{% endblock %}