{% extends 'base-frontoffice.html.twig' %}
{% block title 'Portail documentaire - Ressource' %}
{% block js %}<script src="{{ asset('js/amplitude.js') }}"></script>{% endblock %}

{% block css %}

<style type="text/css">
	.banner.style1 {
		justify-content: flex-start;
		justify-content: space-evenly;
	}
	.banner.style1 .content {
		padding: 0;
		margin-right: 10px;
		/**
		margin-left:2rem;
		margin-right: 2rem;
		**/
	}
	.banner.style1.fullscreen {
		min-height: 10vh;
	}
	/***
	body {
		font-family: TradeGothic,Helvetica,Arial,sans-serif;
		font-weight: 200;
		font-style: normal;
		line-height: inherit;
	}
	html {
		font-size: 100%;
		line-height: 1.3333333333em;
	}
	h1 {
		display: block;
		font-size: 2em;
		margin-block-start: 0.67em;
		margin-block-end: 0.67em;
		margin-inline-start: 0px;
		margin-inline-end: 0px;
		font-weight: bold;
		font-family: TradeGothic,Helvetica,Arial,sans-serif;
	}
	***/
	a {
		text-decoration: none;
	}
	et-hero-tabs {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 5vh;
		position: relative;
		background: #fff;
		text-align: center;
		padding: 0 2em;
		h1 {
			font-size: 2rem;
			margin: 0;
			letter-spacing: 1rem;
		}
		h3 {
			font-size: 1rem;
			letter-spacing: 0.3rem;
			opacity: 0.6;
		}
	}
	.ensavoirplus {
		justify-content: left;
		align-items: left;
		height: 150vh;
		position: relative;
		background: #ffffff;
		text-align: left;
		padding: 0 2em;
		margin-left: 1em;
		text-align: left;
		padding: 0px;
		height: auto;
		h1 {
			font-size: 2rem;
			margin: 0;
			letter-spacing: 1rem;
		}
		h3 {
			font-size: 1rem;
			letter-spacing: 0.3rem;
			opacity: 0.6;
		}
	}
	.et-hero-tabs-container {
		display: flex;
		flex-direction: row;
		position: absolute;
		bottom: 0.1rem;
		width: 100%;
		height: 70px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
		background: #fff;
		z-index: 10;
		&--top {
			position: fixed;
			top: 0;
		}
	}	
	.et-hero-tab {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
		color: #000;
		letter-spacing: 0.1rem;
		transition: all 0.5s ease;
		font-size: 0.8rem;
		font-weight: 401;
		letter-spacing: 0.3rem;
		&:hover {
			color:white;
	  		background: rgba(102,177,241,0.8);
	  		background-color: #162068
			transition: all 0.5s ease;
		}
	}
	.et-hero-tab-slider {
		position: absolute;
		bottom: 0;
		width: 0;
		height: 6px;
		background: #162068;
		transition: left 0.3s ease;
	}
	.et-hero-tabs-container[data-state="fixed"] {
		left: calc((100% - 1286) / 2);
	} 
	.et-hero-tabs-container[data-state="fixed"] {
		position: fixed;
	}
	.index {
		color: #ffffff;
		font-weight:600;
		background-color: #bf6f33;
		padding: 5px;
		margin-right: 1px;
		border-radius: 5px;
	}
	.card-title {
		font-size: 1.3rem;
	}
	span.index {
		display: inline-block;
		width: auto;
		height: auto;
		padding: 5px;
		border: 0px solid blue;  
		background-color: #bf6f33; 
		margin: 1px;
		margin-right:-2px;
	  }
	 
	@media screen and (max-width: 414px) {
		.logo-cnd {
			margin-top: -5rem;
			margin-left: 5px;
		}
		.logo-cnd-subtitle {
			line-height: 21.33rem;
			margin: auto;
			margin-top: -10em;
			margin-left: 7px;
			line-height: 12.33rem;
			font-size: 1em;
		}
		.banner.style1.fullscreen .content {
			min-height: 45vh;
			margin-top: 0rem;
			margin-left: 1rem;
			margin-right: 1rem;
		}
		.table {
			text-align: left;
		}
		.banner.style1 .content p {
			text-align: left;
		}
		.ensavoirplus {
			height: auto;
		}
		div#black-player-playlist {
			max-height: 140px;
			overflow-y: scroll;
			margin-top: 0rem;
		}
		div#black-player-playlist {
			display: none;
		}
	}
	@media screen and (max-width: 600px) and (min-width: 600px){
		.logo-cnd {
			margin-top: -4rem;
			margin-left: -7rem;
			margin-left: 7px;
		}
		.logo-cnd-subtitle {
			line-height: 11.33rem;
			margin-left: 7px;
			font-size: 1.2rem;
			margin-top: -9rem;
		}
		.banner.style1 .image {
			width: 100%;
		}
		.banner.style1 .content {
		margin-top: 43px;
		}
		.banner.style1.fullscreen .content {
			min-height: 45vh;
			margin-top: 2rem;
		}
		.table {
			text-align: left;
		}
		.banner.style1 .content p {
			text-align: left;
		}
		div#black-player-playlist {
			max-height: 140px;
			overflow-y: scroll;
			margin-top: 0rem;
		}
	}
	@media  screen and (max-width: 768px) and (min-width: 768px){
		.banner.style1.fullscreen .content {
			margin-top: 16rem;
			margin-right: 2rem;
			margin-left: 1rem;
			margin-bottom: -2rem;
			min-height: 68vh;
		}
		.table {
			text-align: left;
		}
		.banner.style1 .content p {
			text-align: left;
			margin-left: 1rem;
		}
		.et-hero-tabs-container[data-state="fixed"] {
			display: none;
		}
		.logo-cnd-subtitle {
			font-size: 2rem;
		}
		div#black-player-playlist {
			max-height: 140px;
			overflow-y: scroll;
			margin-top: 0rem;
		}
	}
	@media (min-width: 800px) {
		.et-hero-tabs,
		.et-slide {
			h1 {
			font-size: 3rem;
		}
		h3 {
			font-size: 1rem;
		}
		}
		.et-hero-tab {
			font-size: 1rem;
		}
	}

	@media  screen and (max-width: 1024px) and (min-width: 1024px){
		.banner.style1.fullscreen .content {
			margin-top: -10rem;
			margin-right: 2rem;
			margin-left: 2rem;
		}
		.banner.style1 .image {
			width: 100%;
		}
		.table {
			text-align: left;
		}
		.banner.style1 .content p {
			text-align: left;
		}
	}
	@media screen and (max-width: 1280px) and (min-width: 1280px) {
		.banner.style1.fullscreen .content {
			margin-top: 0rem;
		}
		.banner.style1.fullscreen .image {
			height: 50vh;
		}
		.table {
			text-align: left;
		}
		.banner.style1 .content p {
			text-align: left;
		}
	}
	@media screen and (max-width: 5120px) and (min-width: 5120px) {
		.banner.style1.fullscreen .content {
			margin-top: -40rem;
		}
		.table {
			text-align: left;
		}
		.banner.style1 .content p {
			text-align: left;
		}
	}
</style>
{% endblock %}
{% block body %}
				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h2>{% if resource.title %}{{ resource.title }}{% endif %} ({% if resource.type %}{{ resource.type }}{% endif %})</h2>
									<h3>{% if resource.auteur %}
										{{ resource.auteur|replace({'|':' ; '}) }}
										{% endif %}</h3>
										<p>{% if resource.title %}{{ resource.title }}{% endif %}{% if resource.resp1 %} / {{ resource.resp1 }}{% endif %}{% if resource.editeurlieu %}. - {{ resource.editeurlieu }} : {% endif %} {% if resource.editeur %} ; {{ resource.editeur }}{% endif %}{% if resource.anneedit %}, {{ resource.anneedit }}{% endif %}{% if resource.pagination %}. - {{ resource.pagination }}{% endif %} <!--: ill., couv. ill. ; 31 cm --></p>
										<table class="table table-striped">
										    <tbody>
												{% if resource.collection %}
												<tr>
										        	<td>Collection</td>
										        	<td>{{ resource.collection }}</td>
												</tr>
												{% endif %}
												{% if resource.tag %}
												{% set tags = resource.tag|split('|') %}
												<tr>
													<td>Mots-clés</td>
													<td>
													<div>
													{% for tag in tags %}
													<a href="{{ path('resources.searchfacet1') }}?q={{ tag }}&field=tag"><span class="index">{{ tag }}</a></span>
													{% endfor %}
													</div>
													</td>
												</tr>
												{% endif %}
												{% if resource.person %}
												{% set persons = resource.person|split('|') %}
												<tr>
													<td>Personnes</td>
													<td>
													<div>
													{% for person in persons %}
														<a href="{{ path('resources.searchfacet1') }}?q={{ person }}&field=person"><span class="index">{{ person }}</a></span>
													{% endfor %}
													</div>
													</td>
												</tr>
												{% endif %} 
												{% if resource.oeuvre %}
												{% set oeuvres = resource.oeuvre|split('|') %}
												<tr>
													<td>Oeuvres</td>
													<td>
													<div>
													{% for oeuvre in oeuvres %}
													<a href="{{ path('resources.searchfacet1') }}?q={{ oeuvre }}&field=oeuvre"><span class="index">{{ oeuvre }}</a></span>
													{% endfor %}
													</div>
													</td>
												</tr>
												{% endif %} 
												{% if resource.organisme %}
												{% set organismes = resource.organisme|split('|') %}
												<tr>
													<td>Structures</td>
													<td>
													<div>
													{% for organisme in organismes %}
													<a href="{{ path('resources.searchfacet1') }}?q={{ organisme }}&field=organisme"><span class="index">{{ organisme }}</a></span>
													{% endfor %}
													</div>
													</td>
												</tr>
												{% endif %}  
												{% if resource.geo %}
												{% set geos = resource.geo|split('|') %}
												<tr>
													<td>Lieux</td>
													<td>
													<div>
													{% for geo in geos %}
													<a href="{{ path('resources.searchfacet1') }}?q={{ geo }}&field=geo"><span class="index">{{ geo }}</a></span>
													{% endfor %}
													</div>
													</td>
												</tr>
												{% endif %}
												{% if resource.urlFolder %}
												<tr>
										        	<td>Consulter le dossier</td>
										        	<td><a href="{{ resource.urlFolder }}" target="_blank">{{ resource.urlFolder }}</a></td>
												</tr>
												{% endif %}
										        {% if resource.comment %}
												<tr>
										        	<td>Note</td>
										        	<td>{{ resource.comment }}</td>
												</tr>
												{% endif %}
										   </tbody>
										</table>
						</div>
						{% if resource.urlDoc is not empty and resource.urlDoc is not null %}
							{% set vars = {'url': resource.urlDoc} %}
							{% include 'lecteurs/photographie.html' with vars %}
						{% endif %}

						{% if resource.video is not empty and resource.video is not null %}
							{% set vars = {'url': resource.video} %}
							{% include 'lecteurs/video.html' with vars %}
						{% endif %}
						{% if resource.audio is not empty and resource.audio is not null and resource.pdf is empty %}
							{% set vars = {'url': resource.audio, 'author': resource.auteur} %}
							{% include 'lecteurs/audio.html' with vars %}
						{% endif %}
						{% if resource.pdf is not empty and resource.pdf is not null and resource.audio is empty %}
							{% set vars = {'url': resource.pdf} %}
							{% include 'lecteurs/pdf.html' with vars %}
						{% endif %}
						
						<!-- video -->
						<!--
						<div class="image" style="">
							<div style="padding:60.77% 0 0 0;position:relative;">
								<iframe title="numeridanse.tv" allow="autoplay; fullscreen" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" src="https://www.numeridanse.tv/player/" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" ></iframe>
							</div>
						</div>
						-->
						
						<!-- images -->
						
						
						
						<!-- Autres-->
						<!--<
						div class="image" style="display:none;">
						</div>
						-->
					</section>

	<section class="et-hero-tabs">
  	<!--
    <h1>STICKY SLIDER NAV</h1>
    <h3>Sliding content with sticky tab nav</h3>
	-->
    <div class="et-hero-tabs-container" data-sticky="data-sticky" data-top-tigger="350" data-state="fixed" >
		<!-- <h1>En savoir plus</h1> -->
	  
	  {% for person in  resource.persons %}
	  {% if person.id %}
	  <a class="et-hero-tab" href="#tab-es6">Personne</a>
	  {% endif %}
	  {% endfor %}
	  {% for work in  resource.works %}
	  {% if work.id %}
	  <a class="et-hero-tab" href="#tab-react">Oeuvre</a>
	  {% endif %}
	  {% endfor %}
	  {% for structure in  resource.structures %}
	  {% if structure.id %}
	  <a class="et-hero-tab" href="#tab-angular">Structure</a>
	  {% endif %}
	  {% endfor %}
      <!--<a class="et-hero-tab" href="#tab-voiraussi">Voir aussi</a>-->
      <span class="et-hero-tab-slider"></span>

    </div>
  </section>


  <!-- Main -->
  <main class="et-main">
	<section class="ensavoirplus" id="" style="">
	{% if resource.persons %}
	{% for person in  resource.persons %}
	<h1>{{ person.name }}</h1>
	<div id="tab-es6"></div>
		{{ person.abstract|raw }}  
	{% endfor %}
	{% endif %}   
    </section>
    <section class="ensavoirplus" id="">
	{% if resource.works %}
	{% for work in  resource.works %}
	<h1>{{ work.name }}</h1>
	<div id="tab-react"></div>
		{{ work.abstract|raw }}
	{% endfor %}
	{% endif %}    
	</section>
	<section class="ensavoirplus" id="">
		{% if resource.structures %}
		{% for structure in  resource.structures %}
		<h1>{{ structure.name }}</h1>
		<div id="tab-angular"></div>
			{{ structure.abstract|raw }}
		{% endfor %}
		{% endif %}    
		</section>
  </main>

				<section class="wrapper style1 align-center">
						<div class="inner medium">
							<h2>Vous avez une question</h2>
							<form method="post" action="#">
								<div class="fields">
									<div class="field half">
										<label for="name">Nom</label>
										<input type="text" name="name" id="name" value="" />
									</div>
									<div class="field half">
										<label for="email">Email</label>
										<input type="email" name="email" id="email" value="" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="6"></textarea>
									</div>
								</div>
								<ul class="actions special">
									<li><input type="submit" name="submit" id="submit" value="Envoyer" /></li>
								</ul>
							</form>

						</div>
					</section>
{% endblock %}
{% block javascript %}<script src="{{ asset('js/navigation.js') }}"></script>{% endblock %}
		