		{{ form_start(form) }}
			<div class="row">
				<div class="col-md-6">{{ form_row(form.imageFile) }}</div>
				<div class="col-md-6 img-responsive">
					{% if resource.filename %}
					<a href="{{ path('resource.show', {slug: resource.slug, id: resource.id }) }}"><img class="card-img-top" alt="Consulter la ressource" title="Consulter la ressource" src="{{ vich_uploader_asset(resource, 'imageFile') | imagine_filter('thumb') }}" class="responsive" width="360" height="240"></a>
					{% elseif resource.img %}
					<a href="{{ path('resource.show', {slug: resource.slug, id: resource.id }) }}"><img class="card-img-top" alt="Consulter la ressource" title="Consulter la ressource" src="http://cadic.cnd.fr/exl-img/{{ resource.img|replace({'.jpg': '_cadichd.jpg'}) }}" class="responsive" width="50%" height="auto"></a>
					{% else %}
					<a href="{{ path('resource.show', {slug: resource.slug, id: resource.id }) }}"><img class="card-img-top" alt="Consulter la ressource" title="Consulter la ressource" src="{{ '/images/resources/empty.jpg' | imagine_filter('thumb') }}" class="responsive" width="360" height="240"></a>
					{% endif %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">&nbsp;</div>
			</div>
			<div class="row">
				<div class="col-md-3">{{ form_row(form.idcadic) }}</div>
			</div>
			<div class="row">
				<div class="col-md-6">{{ form_row(form.persons) }}</div>
				<div class="col-md-6">{{ form_row(form.works) }}</div>
			</div>
			<div class="row">
				<div class="col-md-6">{{ form_row(form.structures) }}</div>
				<div class="col-md-6">{{ form_row(form.subjects) }}</div>
			</div>
			<div class="row">
				<div class="col-md-6">{{ form_row(form.urlFolder) }}</div>
			</div>
			<div class="row">
				<div class="col-md-6">{{ form_row(form.front) }}</div>
				<div class="col-md-6">{{ form_row(form.folderFront) }}</div>
			</div>
			<div class="row">
				<div class="col-md-3">{{ form_row(form.type) }}</div>
				<div class="col-md-3">{{ form_row(form.title) }}</div>
				<div class="col-md-3">{{ form_row(form.auteur) }}</div>
				<div class="col-md-3">{{ form_row(form.resp1) }}</div>
			</div>
			<div class="row">
				<div class="col-md-3">{{ form_row(form.person, {'attr': {'rows': '5'}}) }}</div>
				<div class="col-md-3">{{ form_row(form.oeuvre, {'attr': {'rows': '5'}}) }}</div>
				<div class="col-md-3">{{ form_row(form.organisme) }}</div>
			</div>
			<div class="row">
				<div class="col-md-4">{{ form_row(form.tag) }}</div>
				<div class="col-md-4">{{ form_row(form.geo) }}</div>
			</div>
			<div class="row">
				<div class="col-md-3">{{ form_row(form.lang) }}</div>
				<div class="col-md-3">{{ form_row(form.editeur) }}</div>
				<div class="col-md-3">{{ form_row(form.editeurlieu) }}</div>
				<div class="col-md-3">{{ form_row(form.anneedit) }}</div>
			</div>
			<div class="row">
				<div class="col-md-4">{{ form_row(form.isbn) }}</div>
				<div class="col-md-4">{{ form_row(form.pagination) }}</div>
				<div class="col-md-4">{{ form_row(form.collection) }}</div>
			</div>
			<div class="row">
				<div class="col-md-4">{{ form_row(form.analyse) }}</div>
				<div class="col-md-4">{{ form_row(form.rights) }}</div>
				<div class="col-md-4">{{ form_row(form.oai) }}</div>
			</div>
			<div class="row">
				<div class="col-md-12">{{ form_row(form.comment) }}</div>
			</div>
			<div class="row">
				<div class="col-md-12">{{ form_row(form.allIndex) }}</div>
			</div>
			
			{{ form_rest(form) }}
			
			<button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
			 
		{{ form_end(form) }}