{% extends 'base.html.twig' %}

{% block title 'Administration du portail' %}

{% block body %}
	<div class="container mt-4">
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	{% if is_granted('ROLE_DOC')  %}
	<h1>Gérer les ressources</h1>
	{{ form_start(form) }}
    			<div class="form-row align-items-end">
					<div class="col">
    					{{ form_row(form.id) }}
    				</div>
    				<div class="col">
    					{{ form_row(form.title) }}
    				</div>
    				<div class="col">
    					{{ form_row(form.auteur) }}
    				</div>
    				<div class="col">
    					{{ form_row(form.type) }}
    				</div>
    			</div>
    			<div class="form-row align-items-end">
    				<div class="col">
    					{{ form_row(form.persons) }}
    				</div>
				</div>
				<div class="form-row align-items-end">
    				<div class="col">
    					{{ form_row(form.front) }}
    				</div>
    			</div>
    			<div class="form-row align-items-end">
    				<div class="col">
    					<!--  class form-group aligne le bouton  -->
    					<div class="form-group">
    						<button class="btn btn-primary">Rechercher</button>
    					</div>
    				</div>
    			</div>
		   {{ form_end(form) }}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Titre</th>
				<th>Type de document</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		
    		{% for resource in resources %}
    			<tr>
					<td>{{ resource.id }}</td>
					<td>{{ resource.title }}</td>
					<td>{{ resource.type }}</td>
					<td>
						<p class="card-text"><a href="{{ path('resource.basketadd', {slug: resource.slug, id: resource.id }) }}" class="btn btn-secondary">Sélectionner</a></p>
    				<td>
    					
    					<a href="{{ path('admin.resource.edit', {id: resource.id}) }}" class="btn btn-secondary">Éditer</a>
    				</td>
    				<td>	
    					
    					<form method="post" action="{{ path('admin.resource.delete', {id: resource.id}) }}" onsubmit="return confirm('Etes-vopus vraiment sûr ?')">
    						<input type="hidden" name="_method" value="DELETE">
    						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ resource.id) }}">
    						<button class="btn btn-danger">Supprimer</button>
    					</form>
    					
    				</td>
    			</tr>
    		   {% endfor %}
		   
		</tbody>
	
	</table>
	<div class="navigation">
		{{ knp_pagination_render(resources) }}
	</div>
		
	<div class="text-right">
		<a href="{{ path('admin.resource.add') }}" class="btn btn-primary">Nouvelle notice</a>
	</div>
	<!--  test Popper class 
	<button id="button-a">button</button>	
	-->	
	{% endif %}	
	{% if is_granted('ROLE_ADMIN')  %}
	<h1>Administrer l'application</h1>
	{% endif %}
	</div>
{% endblock %}
{% block javascripts %}
	<script>
		var ref = $('#button-a');
		var popup = $('#new-notice');
		popup.hide();
		
		ref.click(function(){
			popup.show();
			var popper = new Popper(ref, popup,{
		     		placement: 'top' 

			});
		});
	   
	</script>
{% endblock %}
